<mat-card>
    <mat-card-header class="header">
        <button mat-raised-button class="btn-regresar" routerLink="">Regresar</button>
        <h1 class="titulo">Creación de espacios académicos</h1>
    </mat-card-header>
    <mat-card-content>
        <div [class.loader-div]="loading">
            <mat-spinner *ngIf="loading" diameter="100" color="primary"></mat-spinner>
        </div>
        <mat-stepper orientation="vertical" [linear]="false" #stepper>
            <mat-step [stepControl]="formStep1">
                <ng-template matStepLabel>Seleccionar proyecto curricular</ng-template>
                <form [formGroup]="formStep1">
                    <div class="proyecto">
                        <mat-form-field>
                            <mat-label>Nivel</mat-label>
                            <mat-select formControlName="nivel" (selectionChange)="onNivelChange($event)" [disabled]="camposDisabled">
                                <mat-option>Seleccionar</mat-option>
                                <mat-option *ngFor="let nivel of niveles"
                                    [value]="nivel.Id">{{nivel.Nombre}}</mat-option>
                            </mat-select>
                            <mat-hint *ngIf="formProyecto?.get('nivel')?.touched && formProyecto?.get('nivel')?.invalid" align="start">** Debe llenar este campo</mat-hint>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Sub nivel</mat-label>
                            <mat-select formControlName="sub_nivel" (selectionChange)="onSubNivelChange($event)" [disabled]="camposDisabled">
                                <mat-option>Seleccionar</mat-option>
                                <ng-container *ngIf="nivelSeleccionado === 1">
                                    <mat-option *ngFor="let nivel of subNivelesPregrado" [value]="nivel.Id">{{
                                        nivel.Nombre}}</mat-option>
                                </ng-container>
                                <ng-container *ngIf="nivelSeleccionado === 2">
                                    <mat-option *ngFor="let nivel of subNivelesPosgrado" [value]="nivel.Id">{{
                                        nivel.Nombre}}</mat-option>
                                </ng-container>
                            </mat-select>
                            <mat-hint *ngIf="formProyecto?.get('sub_nivel')?.touched && formProyecto?.get('sub_nivel')?.invalid" align="start">** Debe llenar este campo</mat-hint>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Proyecto curricular</mat-label>
                            <mat-select formControlName="proyecto_curricular"
                                (selectionChange)="onProyectoChange($event)" [disabled]="camposDisabled">
                                <mat-option>Seleccionar</mat-option>
                                <mat-option *ngFor="let proyecto of proyectosSelect" [value]="proyecto.Id">{{
                                    proyecto.Nombre}}</mat-option>
                            </mat-select>
                            <mat-hint *ngIf="formProyecto?.get('proyecto_curricular')?.touched && formProyecto?.get('proyecto_curricular')?.invalid" align="start">** Debe llenar este campo</mat-hint>
                        </mat-form-field>
                    </div>
                    <div>
                        <button class="btn-form-1" mat-raised-button matStepperNext>Siguiente</button>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="formStep2">
                <ng-template matStepLabel>Información sobre el espacio académico</ng-template>
                <form [formGroup]="formStep2" class="espacio-academico">
                    <mat-form-field>
                        <mat-label>Nombre</mat-label>
                        <input matInput formControlName="nombre" [readonly]="visualizar">
                        <mat-hint *ngIf="formEspacioAcademico?.get('nombre')?.touched && formEspacioAcademico?.get('nombre')?.invalid" align="start">** Debe llenar este campo</mat-hint>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Código</mat-label>
                        <input matInput formControlName="codigo" [readonly]="visualizar">
                        <mat-hint *ngIf="formEspacioAcademico?.get('codigo')?.touched && formEspacioAcademico?.get('codigo')?.invalid" align="start">** Debe llenar este campo</mat-hint>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Código abreviación</mat-label>
                        <input matInput formControlName="codigo_abreviacion" [readonly]="visualizar">
                        <mat-hint *ngIf="formEspacioAcademico?.get('codigo_abreviacion')?.touched && formEspacioAcademico?.get('codigo_abreviacion')?.invalid" align="start">** Debe llenar este campo</mat-hint>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Plan de estudios</mat-label>
                        <input matInput type="number" formControlName="plan_estudios" [readonly]="visualizar">
                        <mat-hint *ngIf="formEspacioAcademico?.get('plan_estudios')?.touched && formEspacioAcademico?.get('plan_estudios')?.invalid" align="start">** Debe llenar este campo</mat-hint>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Tipo</mat-label>
                        <mat-select formControlName="tipo" [disabled]="camposDisabled">
                            <mat-option *ngFor="let tipo of tipos" [value]="tipo.Id">{{tipo.Nombre}}</mat-option>
                        </mat-select>
                        <mat-hint *ngIf="formEspacioAcademico?.get('tipo')?.touched && formEspacioAcademico?.get('tipo')?.invalid" align="start">** Debe llenar este campo</mat-hint>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Clase</mat-label>
                        <mat-select formControlName="clase" [disabled]="camposDisabled">
                            <mat-option *ngFor="let clase of clases" [value]="clase.Id">{{clase.Nombre}}</mat-option>
                        </mat-select>
                        <mat-hint *ngIf="formEspacioAcademico?.get('clase')?.touched && formEspacioAcademico?.get('clase')?.invalid" align="start">** Debe llenar este campo</mat-hint>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Enfoque</mat-label>
                        <mat-select formControlName="enfoque" [disabled]="camposDisabled">
                            <mat-option *ngFor="let enfoque of enfoques"
                                [value]="enfoque.Id">{{enfoque.Nombre}}</mat-option>
                        </mat-select>
                        <mat-hint *ngIf="formEspacioAcademico?.get('enfoque')?.touched && formEspacioAcademico?.get('enfoque')?.invalid" align="start">** Debe llenar este campo</mat-hint>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Créditos</mat-label>
                        <input matInput type="number" formControlName="creditos" [readonly]="visualizar">
                        <mat-hint *ngIf="formEspacioAcademico?.get('creditos')?.touched && formEspacioAcademico?.get('creditos')?.invalid" align="start">** Debe llenar este campo</mat-hint>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Espacio modular</mat-label>
                        <mat-select formControlName="espacio_modular" [disabled]="camposDisabled">
                            <mat-option [value]="true">Si</mat-option>
                            <mat-option [value]="false">No</mat-option>
                        </mat-select>
                        <mat-hint *ngIf="formEspacioAcademico?.get('espacio_modular')?.touched && formEspacioAcademico?.get('espacio_modular')?.invalid" align="start">** Debe llenar este campo</mat-hint>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Agrupación espacios académicos</mat-label>
                        <mat-select formControlName="agrupacion_espacios"
                            (selectionChange)="onAgrupacionEspaciosChange($event)" [disabled]="camposDisabled">
                            <mat-option *ngFor="let agrupacion of agrupacionEspacios"
                                [value]="agrupacion._id">{{agrupacion.nombre}}</mat-option>
                        </mat-select>
                        <mat-hint *ngIf="formEspacioAcademico?.get('agrupacion_espacios')?.touched && formEspacioAcademico?.get('agrupacion_espacios')?.invalid" align="start">** Debe llenar este campo</mat-hint>
                    </mat-form-field>
                    <mat-form-field floatLabel="always">
                        <input class="color-box" matInput formControlName="agrupacion_espacios_color" type="text"
                            readonly [style.background-color]="inputBoxColor">
                    </mat-form-field>
                    <button mat-raised-button color="primary" class="btn-agregar-agrupacion" routerLink="/agrupacion-espacios/{{ agrupacionFacultadId }}" [disabled]="btnAgrupaciondisabled">Agregar agrupación
                        espacios académicos</button>
                    <div class="horas-trabajo">
                        <h5>Asignar horas de trabajo</h5>
                        <mat-form-field>
                            <mat-label>HTD</mat-label>
                            <input matInput type="number" formControlName="htd" (change)="CalcularHorasTotal()" [readonly]="visualizar">
                            <mat-hint *ngIf="formEspacioAcademico?.get('htd')?.touched && formEspacioAcademico?.get('htd')?.invalid" align="start">** Debe llenar este campo</mat-hint>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>HTC</mat-label>
                            <input matInput type="number" formControlName="htc" (change)="CalcularHorasTotal()" [readonly]="visualizar">
                            <mat-hint *ngIf="formEspacioAcademico?.get('htc')?.touched && formEspacioAcademico?.get('htc')?.invalid" align="start">** Debe llenar este campo</mat-hint>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>HTA</mat-label>
                            <input matInput type="number" formControlName="hta" (change)="CalcularHorasTotal()" [readonly]="visualizar">
                            <mat-hint *ngIf="formEspacioAcademico?.get('hta')?.touched && formEspacioAcademico?.get('hta')?.invalid" align="start">** Debe llenar este campo</mat-hint>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Total</mat-label>
                            <input matInput type="number" formControlName="total" readonly [value]="valorHorasTotal">
                            <mat-hint *ngIf="formEspacioAcademico?.get('total')?.touched && formEspacioAcademico?.get('total')?.invalid" align="start">** Debe llenar este campo</mat-hint>
                            <mat-hint *ngIf="formEspacioAcademico?.get('total')?.touched && validarErrorHorasCredito()">{{ mensajeTotalHoras }}</mat-hint>
                        </mat-form-field>
                    </div>
                    <mat-form-field>
                        <mat-label>Grupos</mat-label>
                        <input matInput formControlName="grupos" [readonly]="visualizar">
                        <mat-hint *ngIf="formEspacioAcademico?.get('grupos')?.touched && formEspacioAcademico?.get('grupos')?.invalid" align="start">** Debe llenar este campo</mat-hint>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Espacios requeridos (pre requisitos)</mat-label>
                        <mat-select formControlName="espacios_requeridos" multiple
                            (selectionChange)="obtenerEspaciosRequeridos($event)" [disabled]="camposDisabled">
                            <mat-option *ngFor="let espacio of espaciosAcademicos"
                                [value]="espacio._id">{{espacio.nombre}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </form>
                <div class="espacios-requeridos">
                    <mat-card>
                        <mat-card-header>
                            <mat-card-title>
                                Espacios requeridos (pre requisitos)
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <mat-list role="list">
                                <ng-container *ngIf="espaciosRequeridos">
                                    <mat-list-item *ngFor="let espacio of espaciosRequeridos"
                                        role="listitem">{{espacio.nombre}}</mat-list-item>
                                </ng-container>
                                <ng-container *ngIf="!(espaciosRequeridos?.length)">
                                    <mat-list-item role="listitem">No requiere</mat-list-item>
                                </ng-container>
                            </mat-list>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="botones-step">
                    <button mat-raised-button matStepperPrevious>Anterior</button>
                    <button mat-raised-button matStepperNext>Siguiente</button>
                </div>
            </mat-step>
            <mat-step [stepControl]="formStep3">
                <ng-template matStepLabel>Carga de soportes y observaciones</ng-template>
                <form [formGroup]="formStep3" class="soporte">
                    <p>Soporte documental (puede agregar varios archivos si lo requiere)</p>
                    <mat-form-field class="campo-archivos">
                        <div id="dropzone" *ngIf="!camposDisabled" (drop)="onDrop($event)" (dragover)="onDragOver($event)">
                            <p>Arastre los archivos a esta zona <label for="archivos">o haga click aquí</label></p>
                            <input type="file" id="archivos" name="archivos"
                                (change)="onChangeArchivosSeleccionados($event)" multiple accept=".pdf"
                                max-size="2097152"/>
                        </div>
                        <div *ngIf="archivosSoporte && accion == 'crear'" class="archivos-soporte">
                            <mat-list role="list">
                                <mat-list-item *ngFor="let archivo of archivosSoporte" role="listitem"><a href="#"
                                        (click)="abrirArchivo(archivo)" class="link-archivo">{{ archivo.name }}
                                    </a><span (click)="eliminarArchivo(archivo)"
                                        class="eliminar-archivo" [ngClass]="{'oculto': camposDisabled}">X</span></mat-list-item>
                            </mat-list>
                        </div>
                        <input matInput [readonly]="camposDisabled" formControlName="soporte" type="text" [value]="archivosSoporte && archivosSoporte.length > 0 ? 'Archivo(s) cargado(s)' : 'Archivo(s) NO cargado(s)'">
                        <mat-hint *ngIf="formSoportes?.get('soporte')?.touched && validarErrorArchivosSeleccionados()" align="start">** Debe llenar este campo</mat-hint>
                    </mat-form-field>
                    <mat-form-field *ngIf="IsAdmin">
                        <mat-label>Aprobación de espacio académico</mat-label>
                        <mat-select formControlName="aprobado" [disabled]="visualizar">
                            <mat-option *ngFor="let estado of estadosAprobacion"
                                [value]="estado._id">{{estado.nombre}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="label-texta">
                        <mat-label>Observaciones</mat-label>
                        <textarea matInput formControlName="observaciones" [readonly]="visualizar"></textarea>
                    </mat-form-field>
                </form>
                <div>
                    <button mat-raised-button matStepperPrevious>Anterior</button>
                </div>
            </mat-step>
        </mat-stepper>
        <div class="botones-formulario" *ngIf="modificandoEspacio">
            <button mat-raised-button routerLink="">Cancelar</button>
            <button mat-raised-button color="primary" (click)="elegirAccion()">Guardar</button>
        </div>
    </mat-card-content>
</mat-card>